<template>
    <div class="d-flex flex-column">
        <div v-html="plausible"/>
        <div class="min-vh-100">
        <header class="bg-dark text-white py-5 mb-4">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
                    <h1>{{ $t(`groups.${group}.title`) }}</h1>
                    <Head>
                        <Title>{{ $t(`groups.${group}.title`) }}</Title>
                        <Meta name="description" :content="$t('about')" />
                        <Meta name="keywords" :content="$t('keywords')" />
                        <Meta name="author" content="Andrea <andrea@avris.it>" />
                        <Link rel="shortcut icon" :href="`data:image/svg+xml,${encodeURIComponent(favicon())}`" type="image/svg+xml"/>

                        <Meta property="og:type" content="article" />
                        <Meta property="og:title" :content="$t(`groups.${group}.title`)" />
                        <Meta property="og:url" :content="baseUrl" />
                        <Meta property="og:image" :content="`${baseUrl}/banner.png`" />

                        <Meta name="twitter:card" content="summary_large_image"/>
                        <Meta name="twitter:title" :content="$t(`groups.${group}.title`)"/>
                        <Meta name="twitter:description" :content="$t('about')"/>
                        <Meta name="twitter:image" :content="`${baseUrl}/banner.png`"/>
                    </Head>
                    <nav class="btn-group" role="group" :aria-label="$t('menu')">
                        <button v-for="(_, groupName) in flags" type="button"
                                :class="['btn text-white', groupName === group ? 'btn-primary' : 'btn-outline-primary']"
                                @click="group = groupName; filter=''"
                        >
                            {{ $t(`groups.${groupName}.name`) }}
                        </button>
                    </nav>
                </div>
            </div>
        </header>
        <main class="container flex-grow-1 py-4">
            <template v-if="flags[group]">
            <div class="row mb-4">
                <div class="col-12 col-md-10 offset-md-1">
                    <p class="text-bigger">
                        <Twemoji>{{ $t('about') }}</Twemoji>
                    </p>
                    <p class="text-danger">
                        <Twemoji>⚠ {{$t('fallbacks')}}</Twemoji>
                    </p>

                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-12 col-md-3 my-1">
                                <div class="input-group input-group-sm bg-white">
                                    <span class="input-group-text"><Twemoji>🔍</Twemoji></span>
                                    <input :class="['form-control', filter ? 'border-primary' : '']" v-model="filter" :placeholder="$t('settings.filter')"/>
                                    <button v-if="filter" class="btn btn-outline-danger" @click="filter = ''"><Twemoji>❌</Twemoji></button>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 my-1">
                                <div class="form-check form-switch pt-1">
                                    <input class="form-check-input" type="checkbox" role="switch" id="addSpaces" v-model="addSpaces">
                                    <label class="form-check-label" for="addSpaces">
                                        {{$t('settings.addSpaces.' + addSpaces)}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 my-1">
                                <div class="form-check form-switch pt-1">
                                    <input class="form-check-input" type="checkbox" role="switch" id="twemoji" v-model="twemoji">
                                    <label class="form-check-label" for="twemoji">
                                        {{$t('settings.twemoji.' + twemoji)}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 col-md-3 my-1">
                                <button :class="['btn btn-sm', overrideShown ? 'btn-primary' : 'btn-outline-primary']"
                                        @click="overrideShown = !overrideShown">
                                    {{$t('settings.override')}} ▼
                                </button>
                            </div>
                        </div>
                        <div v-show="overrideShown" class="mt-3 row">
                            <div class="col-12 col-md-3 offset-md-9">
                                <div v-for="colour in Object.keys(manualOverridesConfig)" class="row">
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" :id="`manual_${colour}`"
                                                   v-model="manualOverridesConfig[colour].enabled"
                                            />
                                            <label class="form-check-label" :for="`manual_${colour}`">
                                                {{$t('colours.' + colour)}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" maxlength="3" class="form-control form-control-sm" :id="`manual_${colour}_emoji`"
                                               v-model="manualOverridesConfig[colour].emoji"
                                               :disabled="!manualOverridesConfig[colour].enabled"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ $t('flag') }}</th>
                    <th class="text-center">{{ $t('types.hearts') }}</th>
                    <th class="text-center">{{ $t('types.squares') }}</th>
                    <th class="text-center">{{ $t('types.circles') }}</th>
                    <th class="text-center">{{ $t('types.special') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="flag in flags[group].all()"
                    v-show="
                        !filter
                        || flag.key().toLowerCase().includes(filter.toLowerCase())
                        || $t(`groups.${group}.values.${flag.key()}`).toLowerCase().includes(filter.toLowerCase())
                    ">
                    <th>
                        <p>
                            {{ $t(`groups.${group}.values.${flag.key()}`) }}
                        </p>
                        <p v-if="group === 'pride'">
                            <img :src="`/flags/${flag.key()}.png`" class="img-flag rounded"/>
                        </p>
                        <p v-else-if="group === 'country'" class="emoji-flag">
                            <Twemoji>{{flag.image()}}</Twemoji>
                        </p>
                        <p v-if="flag.source()" class="fw-normal small">
                            <a :href="flag.source()" target="_blank" rel="noopener">{{ clearUrl(flag.source()) }}</a>
                        </p>
                    </th>
                    <td v-for="type in ['hearts', 'squares', 'circles']" class="text-center text-nowrap">
                        <EmojiFlag :str="flag.emojiString(type, addSpaces, manualOverrides())"/>
                    </td>
                    <td class="text-center text-nowrap">
                        <div v-for="s in flag.specials()">
                            <EmojiFlag :str="s.join(addSpaces ? ' ' : '')"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
            </template>
            <template v-else>
                <div class="alert alert-info">
                    <div class="form-check form-switch d-inline-block mx-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="addSpacesi_keyboard" v-model="addSpaces">
                        <label class="form-check-label" for="addSpacesi_keyboard">
                            {{$t('settings.addSpaces.' + addSpaces)}}
                        </label>
                    </div>
                    <div class="form-check form-switch d-inline-block mx-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="twemoji_keyboard" v-model="twemoji">
                        <label class="form-check-label" for="twemoji_keyboard">
                            {{$t('settings.twemoji.' + twemoji)}}
                        </label>
                    </div>
                </div>
                <div class="table-responsive">
                    <div v-for="(symbols, type) in types">
                        <p class="fw-bold">{{ $t('types.' + type) }}:</p>
                        <p>
                            <span class="btn-group" role="group">
                                <button v-for="(symbol, description) in symbols" type="button"
                                        :class="['btn', 'btn-outline-primary']"
                                        @click="keyboardInputPush(symbol)"
                                        :title="description"
                                        :aria-label="description"
                                >
                                    <Twemoji>{{ symbol }}</Twemoji>
                                </button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="input-group input-group-lg my-4">
                    <span class="input-group-text flex-grow-1 bg-white">
                        <Twemoji v-if="keyboardInput.length"><span>{{ keyboardInputStr }}</span></Twemoji>
                        <span v-else class="d-none d-md-inline">{{ $t('keyboard.placeholder') }}</span>
                    </span>
                    <button v-if="keyboardInput.length" class="btn btn-outline-warning" @click="keyboardInput.pop()"><Twemoji>⬅️</Twemoji></button>
                    <button v-if="keyboardInput.length" class="btn btn-outline-danger" @click="keyboardInput = []"><Twemoji>❌</Twemoji></button>
                    <Copy v-if="keyboardInput.length" :str="keyboardInputStr"/>
                </div>
            </template>
        </main>
        </div>
        <footer class="bg-dark text-white py-5">
            <div class="container">
                <div class="d-flex flex-column flex-md-row text-center text-md-start align-items-center">
                    <ul class="list-unstyled flex-grow-1">
                        <li class="mb-2">
                            Made with <Twemoji><span style="display: inline-block; width: 10em; text-align: center">{{flags.pride.get(footerFlags[footerFlagIndex]).emojiString('hearts', addSpaces)}}</span></Twemoji> by Andrea Vos.
                        </li>
                        <li class="mb-2">
                            <Twemoji>🌐</Twemoji>&nbsp;
                            <a href="https://avris.it" target="_blank" rel="noopener" class="text-light">avris.it</a>
                        </li>
                        <li class="mb-2">
                            <Twemoji>🏷️</Twemoji>&nbsp;
                            <a href="https://pronouns.page/@andrea" target="_blank" rel="noopener" class="text-light">pronouns.page/@andrea</a>
                        </li>
                        <li class="mb-2">
                            <Twemoji>⚖️</Twemoji>
                            Licensed under
                            <a href="https://oql.avris.it/license?c=Andrea%20Vos%7Chttps://avris.it" target="_blank" rel="noopener" class="text-light">OQL</a>
                        </li>
                    </ul>
                    <Share :baseUrl="baseUrl" :title="$t(`groups.${group}.title`)" :text="$t('about')"/>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
import {flags, types} from "./src/flags";
import {clearUrl} from "./src/helpers";
import Share from 'avris-vue-share';

export default {
    components: { Share },
    data() {
        return {
            baseUrl: 'https://emojiflags.avris.it',
            group: 'pride',
            flags,
            types,
            addSpaces: false,
            twemoji: useTwemoji(),
            filter: '',
            overrideShown: false,
            manualOverridesConfig: {
                pink: {emoji: '🌸', enabled: false},
                red: {emoji: '🌹', enabled: false},
                orange: {emoji: '🍊', enabled: false},
                yellow: {emoji: '🌻', enabled: false},
                green: {emoji: '🍏', enabled: false},
                blue: {emoji: '🫐', enabled: false},
                purple: {emoji: '🍆', enabled: false},
                brown: {emoji: '🍂', enabled: false},
                black: {emoji: '✿', enabled: false},
                grey: {emoji: '🪨', enabled: false},
                white: {emoji: '❀', enabled: false},
            },
            keyboardInput: [],

            footerFlags: ['Progress_Pride', 'Transgender', 'Nonbinary', 'Pansexual', 'Polyamorous_', 'Agender'],
            footerFlagIndex: 0,

            plausible: `<script defer data-domain="emojiflags.avris.it" src="https://plausible.avris.it/js/plausible.js"></` + `script>`,

            clearUrl,
        }
    },
    mounted() {
        if (!process.client) {
            return;
        }
        const [group, filter] = (window.location.hash || '').substring(1).split(':');
        if (flags[group] !== undefined) {
            this.group = group;
        }
        this.filter = filter || '';

        setInterval(() => {
            this.footerFlagIndex = (this.footerFlagIndex + 1) % this.footerFlags.length;
        }, 1000);
    },
    methods: {
        manualOverrides() {
            const overrides = {};
            for (let colour in this.manualOverridesConfig) {
                if (!this.manualOverridesConfig.hasOwnProperty(colour)) { continue; }
                if (this.manualOverridesConfig[colour].emoji && this.manualOverridesConfig[colour].enabled) {
                    overrides[colour] = this.manualOverridesConfig[colour].emoji;
                }
            }
            return overrides;
        },
        favicon() {
            return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">${this.faviconEmoji()}</text></svg>`;
        },
        faviconEmoji() {
            if (this.group === 'pride') {
                return  '🏳️‍🌈';
            }
            if (this.group === 'country') {
                return '🇪🇺';
            }
            if (this.group === 'keyboard') {
                return '⌨️';
            }
        },
        keyboardInputPush(symbol) {
            if (this.keyboardInput.length
                && Object.values(this.types.countryMarkers).includes(symbol)
                && Object.values(this.types.countryMarkers).includes(this.keyboardInput[this.keyboardInput.length - 1])
            ) {
                this.keyboardInput[this.keyboardInput.length - 1] += symbol;
                return;
            }
            this.keyboardInput.push(symbol);
        },
        buildHash() {
            let hash = this.group;
            if (this.filter) {
                hash += ':' + this.filter;
            }
            return hash;
        },
    },
    computed: {
        keyboardInputStr() {
            return this.keyboardInput.join(this.addSpaces ? ' ' : '');
        }
    },
    watch: {
        group() {
            window.location.hash = this.buildHash();
        },
        filter() {
            window.location.hash = this.buildHash();
        },
    },
}
</script>

<style lang="scss">
@import "assets/style";

.text-bigger {
    font-size: 1.2em;
}

.img-flag {
    height: 4rem;
}
.emoji-flag {
    font-size: 5rem;
    line-height: 3rem;
}
</style>
