<template>
    <button :class="['btn', 'btn-sm', copied ? 'btn-primary' : 'btn-outline-primary']" ref="clipboard" :data-clipboard-text="str">
        <Twemoji>
            <span v-if="copied">
                ✅ Copied
            </span>
            <span v-else>
                📋 Copy
            </span>
        </Twemoji>
    </button>
</template>

<script>
import ClipboardJS from 'clipboard';

export default {
    props: {
        str: { required: true, },
    },
    data() {
        return {
            copied: undefined,
        }
    },
    mounted() {
        const clipboard = new ClipboardJS(this.$refs.clipboard);
        clipboard.on('success', (e) => {
            if (this.copied) {
                clearTimeout(this.copied);
                this.copied = undefined;
            }
            this.copied = setTimeout(() => this.copied = undefined, 3000);
        });
    },
}
</script>
