<template>
    <div>
        <p>
            <Twemoji><span>{{str}}</span></Twemoji>
        </p>
        <p>
            <Copy :str="str"/>
        </p>
    </div>
</template>

<script>
export default {
    props: {
        str: { required: true, },
    },
}
</script>
