<template>
    <span>
        <span ref="source" v-show="!enabled">
            <slot ref="source"></slot>
        </span>
        <span ref="target" v-show="enabled"></span>
    </span>
</template>

<script>
import twemoji from '@twemoji/api';

export default {
    data() {
        return {
            enabled: useTwemoji(),
        }
    },
    mounted() {
        this.update();

        const observer = new MutationObserver(this.update);
        observer.observe(this.$refs.source, {
            childList: true,
            subtree: true
        });
        this.observer = observer;
    },
    beforeUnmount() {
        this.observer.disconnect();
    },
    methods: {
        update() {
            this.$refs.target.innerHTML = twemoji.parse(this.$refs.source.innerHTML);
        },
    },
};
</script>

<style lang="scss">
.emoji {
    height: 1em;
}
</style>
